/* some constants */
:root {
    --theme: rgb(29, 30, 34);
    --background-theme: whitesmoke;
    --text-theme: #44857;
}
body {
    background-color: var(--background-theme);
}
body,
body * {
    color: var(--text-theme);
    font-family: "Courier New", Courier, monospace;
}
/* used a grid for top navigation */
.top-nav {
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-areas: "title btns";
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-gap: 5px;
    width: 100%;
    height: 80px;
    padding: 0 16px;
    box-shadow: 0 10px 10px -10px var(--theme);
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
/* title wrapper */
.title-wrapper {
    grid-area: title;
    height: 75px;
    width: auto;
    cursor: unset;
}
/* title decl's */
.title-span > .title {
    text-align: center;
    font-weight: 250;
    letter-spacing: 1.25px;
    padding: 0;
    cursor: pointer;
    width: auto;
    height: 100%;
}
/* wrapper for buttons */
.sidenav-btn-wrapper {
    display: inline-flex;
    justify-content: end;
    flex-direction: row;
    align-items: flex-end;
    grid-gap: 5px;
    margin: 38px 0 0 0;
    height: 48%;
    width: auto;
    grid-area: btns;
}
/* buttons */
#topnav-btn {
    width: auto;
    height: 100%;
    display: inline-block;
    border: none;
    padding: 0 12px;
    position: relative;
    line-height: 36px;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    border-radius: 6px;
    background-color: var(--background-theme);
    color: var(--theme);
}
/* might be overkill here */
#topnav-btn,
#topnav-btn * {
    cursor: pointer;
}
/* nice hover effect to buttons */
#topnav-btn:hover {
    opacity: 0.2;
    transition: 0.3s;
}
/* icon text */
span.icon-text {
    display: flex;
    position: relative;
    height: 100%;
    width: auto;
    margin: auto;
}
/* size of icons */
.material-icons {
    height: 24px;
    width: 24px;
}
/* icons and labels */
.material-icons,
#icon-label {
    font-size: 18px;
    line-height: 36px;
    margin: auto;
    display: inline;
    text-align: center;
}
/* labels to icons */
#icon-label {
    padding-left: 4px;
}
/* dropdown content: a and img */
.dropdown-content a {
    display: inline;
}
/* pattern for dropdown */
.dropdown-content a:nth-child(2n) {
    background-color: var(--background-theme);
}
/* white text color */
.dropdown-content a:nth-child(2n + 1) {
    color: var(--background-theme);
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    background-color: var(--theme);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in;
    overflow: hidden;
    height: 0;
    width: 100%;
    max-height: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    height: 40px;
    padding: 8px;
    text-decoration: none;
    display: block;
}
/* Reveal dropdown */
.reveal {
    height: 150px;
}
/* hide dropdown */
.drop-up {
    display: none;
}
/* for caret on links tab */
.show {
    transform: rotateX(180deg);
}
/* link images */
.link-img {
    max-height: 24px;
    max-width: 24px;
}
/* for smaller screen */
@media screen and (max-width: 958px) {
    #icon-label {
        display: none;
    }
}
